<!DOCTYPE html>
<html>
  <head>
    <title>DemoBlog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="text-center bg-slate-800  text-2xl py-3 flex gap-3 px-5 text-slate-50">
      <% if current_user %>
        <%= link_to "Dashboard", "/users/"+current_user.id.to_s %>
      <% end %>
      <%= link_to "Home", root_path %>
      <%= link_to "Login", new_session_path %>
      <%= link_to "SignUp", new_user_path %>
      <% if current_user %>
              <%= link_to 'Logout',logout_path, data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'} %>
      <% end %>

    </div>
    <%= yield %>
  </body>
</html>
